data/
__pycache__/
.idea/
embeddings/
similarities/
experiments/
output/
mtcnn-model/
player1.jpg
player2.jpg
resnet100.onnx
.DS_Store
embeddings.zip
similarities.zip
experiments_copy/
experiments_copy2/
experiments_copy3/
"exp"
