data/
__pycache__/
.idea/
embeddings/
similarities/
experiments/
output/
mtcnn-model/
player1.jpg
player2.jpg
resnet100.onnx
.DS_Store
embeddings.zip
similarities.zip
experiments_copy/
experiments_copy2/
experiments_copy3/
experiments_copy4/
"exp"
/experiments.zip
/.ipynb_checkpoints/arcface_inference-checkpoint.ipynb
/embeddings_copy/arcface_bfw_embeddings.pk
/embeddings_copy/facenet-webface_bfw_embeddings.pk
/embeddings_copy/facenet-webface_rfw_embeddings.pk
/embeddings_copy/facenet_rfw_embeddings.pk
fact_environment_a.yml
/experiments _copy_
/experiments_copy_2
/experiments2.zip
/experiments3.zip
/times_GMM.txt
/experiments_diag/
/experiments_full_covariance/
/experiments_full_covariance.zip
/experiments_diag.zip
