data/
__pycache__/
.idea/
.ipynb_checkpoints/
embeddings/
similarities/
experiments/
output/
mtcnn-model/
player1.jpg
player2.jpg
resnet100.onnx
.DS_Store
embeddings.zip
similarities.zip
ICLR Images and Tables_Milus.ipynb
Main Figures_Milus.ipynb
experiments_copy/
experiments_copy2/
experiments_copy3/
experiments.zip
times_faircal.txt
times_GMM.txt